.body{
    width:100vw;
    height:100vh;
    background:#0f0f0f;
}

.board{
    width:800px;
    height:500px;
}

.center-center{
    display:flex;
    justify-content:center;
    align-items:center;
}