/* You can add global styles to this file, and also import other style files */

body{
    margin:0;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


*{
    font-size: 16px;
    color:#f1f1f1;
}

.width-100{
    width: 100%;
}

.row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}